* {
	font-size:12px;
	font-family:"ו";
}
td {
	line-height:1.5;
}
body {
	font-size:12px;
	line-height:1.5;
	font-family:"ו";
	background-color:#FFF;
}
input {
	border:1px solid #ababab;
	zoom:expression(function(ele) {
	(ele.type=='button'||ele.type=='submit'||ele.type=='reset') ?	ele.className='coolbg':(ele.type=='text' ?	ele.className='alltxt':'');
	(ele.type=='radio'||ele.type=='checkbox') ?	ele.className='np':'';
	ele.style.zoom = '1';
}
(this));}input {
	background:url(../img/input.png) repeat-x scroll 0px 0px;
}
select {
	padding:3px;
}
input[type="button"],input[type="submit"],input[type="reset"] {
	border:none;
	border-right:1px solid #ACACAC;
	border-bottom:1px solid #ACACAC;
	background-color:#F1F8B4;
	padding:2px;
	padding-right:5px;
	padding-left:5px;
	background:url(../img/allbtbg2.gif) #EFF7D0;
	cursor:pointer;
}
input[type="text"],input[type="password"] {
	border-width:1px;
	border-style:solid;
	border-color:#707070 #CECECE #CECECE #707070;
	padding:2px 4px;
	height:18px;
	line-height:18px;
	vertical-align:middle;
}
input[type="text"]:focus,input[type="password"]:focus {
	border-color:#A5C760;
	color:#333;
	-moz-box-shadow:0 0 3px #A5C760;
	-webkit-box-shadow:0 0 3px #A5C760;
	box-shadow:0 0 3px #A5C760;
	outline:none;
}